.lds-dual-ring {
    display: inline-block;
    width: 7%;
    height: 7%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease-in-out;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #fff;
    animation: lds-dual-ring 1.2s linear infinite;
    box-sizing: border-box;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
